*.xml
*.debug.xcconfig
*.release.xcconfig
/CMakeFiles
/cmake-build-debug
/bin
/cmake_install.cmake
/Makefile
/Pods
/build
/Testing
/.cmake

#IDE ignore
/.idea
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
/_deps
/test/*.cmake
/test/*/*.cmake
