*.xml
*.debug.xcconfig
*.release.xcconfig
/CMakeFiles
/cmake-build-debug
/bin
/cmake_install.cmake
/Makefile
/Pods
/build
/Testing
/.cmake

#IDE ignore
/.idea
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
/_deps
/test/*.cmake
/test/*/*.cmake
script/build
script/*.cmake
script/CMakeFiles
script/CMakeScripts
script/slark.xcodeproj
script/_deps
script/test
test/cmake-build-debug
cmake-build-debug-gcc
script/Debug-iphoneos
script/Debug-maccatalyst/slark.framework
script/Testing/Temporary
demo/iOS/demo/Pods/Target Support Files/Pods-demo
demo/iOS/demo/Pods
demo/iOS/demo/demo.xcworkspace/xcuserdata/rolf.tan.xcuserdatad/xcdebugger
demo/iOS/demo/demo.xcodeproj/xcshareddata/xcschemes
src/.VSCodeCounter/

config.json
demo/iOS/demo/demo.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
demo/iOS/demo/demo.xcworkspace/xcuserdata/rolf.tan.xcuserdatad/WorkspaceSettings.xcsettings
sr.png
src/http/cmake-build-debug
src/platform/Android/.gradle
local.properties
src/platform/Android/app/build
src/platform/Android/app/.cxx
src/platform/Android/.idea
src/platform/Android/app/src/main/cpp/.idea
